## dictionary

#### {} this implies a dictionary

In [6]:
mydict={
    "vishesh": "club",
    "kunal": "dj",
    "aditya": "gupta"
    }

print(mydict)

{'vishesh': 'club', 'kunal': 'dj', 'aditya': 'gupta'}

### accesiing an item

In [7]:
mydict["kunal"]

'dj'

In [8]:
mydict["aditya"]

'gupta'

In [9]:
# another way to access an item by get() function

In [10]:
mydict.get("aditya")

'gupta'

In [12]:
mydict.get("vishesh")

'club'

#### change of value

In [13]:
mydict

{'vishesh': 'club', 'kunal': 'dj', 'aditya': 'gupta'}

In [14]:
mydict["vishesh"]="vishwakarma"
mydict

{'vishesh': 'vishwakarma', 'kunal': 'dj', 'aditya': 'gupta'}

### loop access

In [5]:
mydict={
    "vishesh": "club",
    "kunal": "dj",
    "aditya": "gupta"
    }

In [6]:
mydict

{'vishesh': 'club', 'kunal': 'dj', 'aditya': 'gupta'}

In [7]:
for i in mydict:
    print(i)

vishesh
kunal
aditya

In [8]:
# we acn also use item() function to get both value and key and if we want onlu value then we use value() function

In [12]:
mydict={
    "vishesh": "club",
    "kunal": "dj",
    "aditya": "gupta"
    }
for i in mydict.items():
    print(i)

('vishesh', 'club')
('kunal', 'dj')
('aditya', 'gupta')

In [13]:
for x,y in mydict.items(): #foe both value and key
    print(x,y)

vishesh club
kunal dj
aditya gupta

#### checking if key is exist or not

In [16]:
"apple" in mydict

False

In [15]:
"vishesh" in mydict

True

In [17]:
"anmol" in mydict

False

### for length

In [18]:
len(mydict)

3

### adding item

In [23]:
mydict={
    "vishesh": "club",
    "kunal": "dj",
    "aditya": "gupta"
    }

In [24]:
mydict

{'vishesh': 'club', 'kunal': 'dj', 'aditya': 'gupta'}

In [25]:
mydict["color"] ="red"

In [26]:
mydict

{'vishesh': 'club', 'kunal': 'dj', 'aditya': 'gupta', 'color': 'red'}

### remove items

In [27]:
mydict

{'vishesh': 'club', 'kunal': 'dj', 'aditya': 'gupta', 'color': 'red'}

In [28]:
mydict.pop()

TypeError: pop expected at least 1 arguments, got 0

In [29]:
mydict.pop("vishesh")

'club'

In [30]:
# popitems() return the value of last inserted item

In [31]:
mydict.popitem()

('color', 'red')

In [32]:
mydict.popitem()

('aditya', 'gupta')

In [33]:
mydict.popitem()

('kunal', 'dj')

In [35]:
mydict.popitem()       # dictionary is empty

KeyError: 'popitem(): dictionary is empty'

### deleting the item of dictionary

In [38]:
mydict={
    "apple":"red",
    "mango":"yellow",
    "watermelon":"green"
}

In [39]:
mydict

{'apple': 'red', 'mango': 'yellow', 'watermelon': 'green'}

In [40]:
del mydict["apple"]

In [41]:
mydict

{'mango': 'yellow', 'watermelon': 'green'}

In [42]:
# deleting whole dictionary

In [43]:
del mydict

In [44]:
mydict

NameError: name 'mydict' is not defined

### copy of dictionary

In [45]:
my2={
    "black":"kala",
    "red":"lal",
    "yellow":"peela"
}

In [46]:
my2

{'black': 'kala', 'red': 'lal', 'yellow': 'peela'}

In [48]:
mydict=my2.copy()
mydict

{'black': 'kala', 'red': 'lal', 'yellow': 'peela'}

In [49]:
#make a copy of ductionary by dict() function

In [50]:
my3=dict(mydict)

In [51]:
my3

{'black': 'kala', 'red': 'lal', 'yellow': 'peela'}

## nested dictionary

In [52]:
nestdict={
    "vishesh":{
        "age":20,
        "resident":"aishbagh"},
    "kunal":{
        "age":20,
        "resident":"pgi"},
    "aditya":
        {
            "age":19,
            "resident":"mumbai"
        }
}

In [53]:
nestdict

{'vishesh': {'age': 20, 'resident': 'aishbagh'},
 'kunal': {'age': 20, 'resident': 'pgi'},
 'aditya': {'age': 19, 'resident': 'mumbai'}}

In [54]:
nestdict["vishesh"]

{'age': 20, 'resident': 'aishbagh'}

In [55]:
nestdict["kunal"]

{'age': 20, 'resident': 'pgi'}

In [56]:
## or we can also use this method

In [58]:
aditya={
    "name":"adityasharma",
    "age":50
}
vishesh={
    "name":"vishu",
    "age":20
}
kunal={
    "age":20,
    "date":"kuchnai"
}

In [63]:
nestdict={
    "aditya":aditya,
    "vishesh":vishesh,
    "kunal":kunal
}

In [64]:
nestdict

{'aditya': {'name': 'adityasharma', 'age': 50},
 'vishesh': {'name': 'vishu', 'age': 20},
 'kunal': {'age': 20, 'date': 'kuchnai'}}

### dict() can create a dict

In [65]:
dictionary=dict(myname="visheshvishwakarma",age=20,resident="golfcity")

In [66]:
dictionary

{'myname': 'visheshvishwakarma', 'age': 20, 'resident': 'golfcity'}

# update the dictionary

In [67]:
# we can add the itesm in dictionary by upadte()

In [70]:
dictionary.update({"play":"cricket"})

In [71]:
dictionary

{'myname': 'visheshvishwakarma',
 'age': 20,
 'resident': 'golfcity',
 'play': 'cricket'}

## value function

In [74]:
dictionary.values()

dict_values(['visheshvishwakarma', 20, 'golfcity', 'cricket'])

In [75]:
dictionary.keys()

dict_keys(['myname', 'age', 'resident', 'play'])