In [2]:
#declaration of sets {}
#sets is a collection of unordered and unindexed elements

In [3]:
#there is no index of elements

In [4]:
a={"jaduu","rohit","mehra","krish","modiji"}
a

{'jaduu', 'krish', 'mehra', 'modiji', 'rohit'}

### loop accessing

In [6]:
for i in a:
    print(i)

mehra
modiji
rohit
jaduu
krish

### checking of elements

In [7]:
"krish" in a

True

### add items-add(),update(["",""])

In [10]:
a.add("kunal")
a

{'jaduu', 'krish', 'kunal', 'mehra', 'modiji', 'rohit'}

##### for adding more than one elements-update()

In [11]:
a.update(["vishu","mohit","raju","chutki"])
a

{'chutki',
 'jaduu',
 'krish',
 'kunal',
 'mehra',
 'modiji',
 'mohit',
 'raju',
 'rohit',
 'vishu'}

### removing an elements-remove(),discard()

In [12]:
a.remove("raju")
a

{'chutki',
 'jaduu',
 'krish',
 'kunal',
 'mehra',
 'modiji',
 'mohit',
 'rohit',
 'vishu'}

### discard()

In [15]:
a.discard("kunal")
a

{'chutki', 'jaduu', 'krish', 'mehra', 'modiji', 'mohit', 'rohit', 'vishu'}

## pop function-remove the last item

In [16]:
a.pop()

'vishu'

In [17]:
a.pop()

'mehra'

## adding two sets

### update()
### union()
#### this will exclude the duplicate item

In [33]:
set1={"golu","dholu","saka",}
set2={1,2,"dj"}
added=set1.union(set2)
added

{1, 2, 'dholu', 'dj', 'golu', 'saka'}

In [36]:
seta={"dj","club","ganja","charas"}
setb={1,2,"nasha"}
seta.update(setb)
seta     #the updated set is in seta so simply print seta

{1, 2, 'charas', 'club', 'dj', 'ganja', 'nasha'}

# set constructor

In [37]:
a=set(("appkle","nani","dad"))
a

{'appkle', 'dad', 'nani'}

In [38]:
type(a)

set

### clear a set

In [39]:
a.clear()

In [40]:
a

set()

### deletinga set

In [41]:
set_demo={1,2,3,4,5}
set_demo

{1, 2, 3, 4, 5}

In [42]:
del set_demo

In [43]:
set_demo

NameError: name 'set_demo' is not defined

# function

#### difference()

In [44]:
a={"apple","cherry","banana","dj"}
b={"dj","club","blue"}
z=a.difference(b)
z         # ye a-b krega b me jo match krenge a wale se usko hta dega aur a l bchy huye print ho jayenge

{'apple', 'banana', 'cherry'}

In [45]:
y=b.difference(a)
y

{'blue', 'club'}

#### difference_update()

In [46]:
a.difference_update(b)
a

{'apple', 'banana', 'cherry'}

#### intersection

In [50]:
a={"apple","cherry","banana","dj"}
b={"dj","club","blue"}

In [51]:
intersectio=a.intersection(b)
intersectio

{'dj'}

In [56]:
x={"a","b","c"}
y={"c","d","e"}
z={"c","t","r"}
inter=x.intersection(y,z)
inter

{'c'}

In [58]:
x={"a","b","c"}
y={"c","d","e"}
z={"c","t","r"}
x.intersection_update(y,z)
x

{'c'}

#### isdisjoint(), agr koi bhi elements same nai huye to true warna false

In [62]:
re={"vishesh","kunal","altaf"}
we={"dj","hg","fre"}
re.isdisjoint(we)

True

#### issubset()

In [63]:
re.issubset(we)  #agr re k sary elemnts b me hinge to true return krega warna false

False

#### issuperset

###### The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

In [64]:
re.issuperset(we)

False

#### symmetric_difference()

In [65]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
s=x.symmetric_difference(y)
s

{'d', 'e', 'f'}

In [66]:
ju=y.symmetric_difference(x)
ju

{'d', 'e', 'f'}

In [70]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
x.symmetric_difference_update(y)
x

{'d', 'e', 'f'}