## tuples

In [8]:
a=("vishesh","kunal","altaf","zain","divyatosh","anmol","prabhat","aditya")
print(a)

('vishesh', 'kunal', 'altaf', 'zain', 'divyatosh', 'anmol', 'prabhat', 'aditya')

# () decleartion of tuple

## lenght of tuple

In [9]:
len(a)

8

## accessing of tuple

In [10]:
a[1]

'kunal'

# negative indexing

### Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item et

In [11]:
a[-2]

'prabhat'

In [12]:
a[2:5] #return the 3rd 4th 5th item

('altaf', 'zain', 'divyatosh')

In [16]:
a[-8:-4] #from back

('vishesh', 'kunal', 'altaf', 'zain')

In [19]:
a[-5:-2]

('zain', 'divyatosh', 'anmol')

# changing of tuple into list

In [25]:
a=("vishesh","kunal","altaf","zain","divyatosh","anmol","prabhat","aditya")
b=list(a)       # changing by typing list(variable)
b

['vishesh',
 'kunal',
 'altaf',
 'zain',
 'divyatosh',
 'anmol',
 'prabhat',
 'aditya']

In [26]:
type(b)

list

# loop accessing

In [27]:
for i in a:
    print(i)

vishesh
kunal
altaf
zain
divyatosh
anmol
prabhat
aditya

# functions

In [30]:
"vishesh" in a

True

In [31]:
"kunal" in a

True

In [33]:
"vishesh" and "kunal" in a

True

In [34]:
"vishesh" and "apple" in a

False

In [36]:
"vishesh" or "apple" in a

'vishesh'

# adding two tuples

In [38]:
tuple1=("apple","sher","hathi","bandar")
tuple2=(1,2,3,4)
addded_tuple=tuple1+tuple2
addded_tuple

('apple', 'sher', 'hathi', 'bandar', 1, 2, 3, 4)

# we cannot remove the elements of tuples coz it is unchangable

## deleting the tuple

In [44]:
a

('vishesh',
 'kunal',
 'altaf',
 'zain',
 'divyatosh',
 'anmol',
 'prabhat',
 'aditya')

In [45]:
del a

In [46]:
a    #a is not defined coz it is deleted

NameError: name 'a' is not defined

# count() function return the value
## no of specified value appear in the tuple

In [53]:
c=(1,2,3,4,5,6,7,8,99,99,99,3,5,1,2)
c.count(1)

2

In [54]:
c.count(99)

3

## indexing

In [60]:
c.index(4)

3